.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  list-style: none;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__description {
  display: flex;
  background-color: #f2f2f2;
  color: black;
  padding: 20px 20px 25px 25px;
  justify-content: space-between;
  align-items: center;
}

.card__image {
  height: 282px;
  width: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__like-button {
  background-position: center;
  background-image: url(../images/like-button.svg);
  height: 18px;
  width: 21px;
  transition: opacity 0.35s;
  flex-shrink: 0;
  border: none;
  border-radius: 0 0 10px;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
